.vscode
.gradle
build/
build-windows/
cmake-build-debug/
.idea/
android/launcher-app/build
android/launcher-app/.externalNativeBuild
Urho3D
bin/Data/Textures/Avatar.png
bin/Data/Saves/Achievements.json
Urho3DProjectTemplate.log
bin/Data/Textures/HeightMap.png
